:root {
	--mauve1: hsl(300, 20.0%, 99.0%);
    --mauve2: hsl(300, 7.7%, 97.5%);
    --mauve3: hsl(294, 5.5%, 95.3%);
    --mauve4: hsl(289, 4.7%, 93.3%);
    --mauve5: hsl(283, 4.4%, 91.3%);
    --mauve6: hsl(278, 4.1%, 89.1%);
    --mauve7: hsl(271, 3.9%, 86.3%);
    --mauve8: hsl(255, 3.7%, 78.8%);
    --mauve9: hsl(252, 4.0%, 57.3%);
    --mauve10: hsl(253, 3.5%, 53.5%);
    --mauve11: hsl(252, 4.0%, 44.8%);
    --mauve12: hsl(260, 25.0%, 11.0%);

	--blackA1: hsla(0, 0%, 0%, 0.012);
	--blackA2: hsla(0, 0%, 0%, 0.027);
	--blackA3: hsla(0, 0%, 0%, 0.047);
	--blackA4: hsla(0, 0%, 0%, 0.071);
	--blackA5: hsla(0, 0%, 0%, 0.090);
	--blackA6: hsla(0, 0%, 0%, 0.114);
	--blackA7: hsla(0, 0%, 0%, 0.141);
	--blackA8: hsla(0, 0%, 0%, 0.220);
	--blackA9: hsla(0, 0%, 0%, 0.439);
	--blackA10: hsla(0, 0%, 0%, 0.478);
	--blackA11: hsla(0, 0%, 0%, 0.565);
	--blackA12: hsla(0, 0%, 0%, 0.910);

	--green1: hsl(136, 50.0%, 98.9%);
    --green2: hsl(138, 62.5%, 96.9%);
    --green3: hsl(139, 55.2%, 94.5%);
    --green4: hsl(140, 48.7%, 91.0%);
    --green5: hsl(141, 43.7%, 86.0%);
    --green6: hsl(143, 40.3%, 79.0%);
    --green7: hsl(146, 38.5%, 69.0%);
    --green8: hsl(151, 40.2%, 54.1%);
    --green9: hsl(151, 55.0%, 41.5%);
    --green10: hsl(152, 57.5%, 37.6%);
    --green11: hsl(153, 67.0%, 28.5%);
    --green12: hsl(155, 40.0%, 14.0%);

	--violet1: hsl(255, 65.0%, 99.4%);
    --violet2: hsl(252, 100%, 99.0%);
    --violet3: hsl(252, 96.9%, 97.4%);
    --violet4: hsl(252, 91.5%, 95.5%);
    --violet5: hsl(252, 85.1%, 93.0%);
    --violet6: hsl(252, 77.8%, 89.4%);
    --violet7: hsl(252, 71.0%, 83.7%);
    --violet8: hsl(252, 68.6%, 76.3%);
    --violet9: hsl(252, 56.0%, 57.5%);
    --violet10: hsl(251, 48.1%, 53.5%);
    --violet11: hsl(250, 43.0%, 48.0%);
    --violet12: hsl(254, 60.0%, 18.5%);

    --tomato1: hsl(10, 100%, 99.4%);
    --tomato2: hsl(8, 100%, 98.4%);
    --tomato3: hsl(8, 100%, 96.6%);
    --tomato4: hsl(8, 100%, 94.3%);
    --tomato5: hsl(8, 92.8%, 91.0%);
    --tomato6: hsl(9, 84.7%, 86.3%);
    --tomato7: hsl(10, 77.3%, 79.5%);
    --tomato8: hsl(10, 71.6%, 71.0%);
    --tomato9: hsl(10, 78.0%, 54.0%);
    --tomato10: hsl(10, 71.5%, 50.0%);
    --tomato11: hsl(10, 82.0%, 43.5%);
    --tomato12: hsl(10, 50.0%, 13.5%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(330deg, hsl(272, 53%, 50%) 0%, hsl(226, 68%, 56%) 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

button,
fieldset,
input {
  all: unset;
}
